<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
    <link rel="stylesheet" href="./../static/admin.css">
</head>
<body>
<div class="twothirds" style="padding:10% 5% 10% 40%">
    <h2>Add a User</h2>
    <form method="post" action="#">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Usermane" />
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" />

        <label for="password">Password</label>
        <input cols="40" rows="8" name="password" id="password"/>
        <input type="submit" value="Submit" />
    </form>
    </div>
</body>
</html>