<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Return</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
  <link rel="stylesheet" href="./../static/account.css">
   <link rel="stylesheet" href="./../static/admin.css">

</head>
<body>

<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <div id="work-collections">
          <a class="back" style="margin-left:0;padding:0" href="/home"><-home</a>
          <div class="row">
            <div class="col s12 m6 l4">
              <div id="profile-card" class="card">
                <div class="card-content">
                  {% if content is not none %}
                  {% for i in range(content.split('/')|length) %}
                     <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <strong>{{content.split('/')[i].split('-')[1]}}</strong>  {{content.split('/')[i].split('-')[0]}} </p>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="col s12 m12 l8">
              <ul id="projects-collection" class="collection">
                <li class="collection-item avatar">
                  <i class="mdi-file-folder circle light-blue darken-2"></i>
                  <span class="collection-header">Return Items</span>
                </li>
                <li class="collection-item">

                  <div class="row">
                    <div class="col s6">
                      <p class="collections-title">Enter the name of Product</p>
                    </div>
                    <div class="col s3">
                      <p class="collections-title">How many are damaged</p>
                    </div>
                    <div class="col s3">
                      <div id="project-line-2"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                    </div>
                  </div>

                </li>
                <form method="post">
                <li class="collection-item">
                  {% if content is not none %}
                  {% for i in range(content.split('/')|length) %}
                  <div class="row">
                    <div class="col s6">
                      <p class="collections-title">
                         <p>{{content.split('/')[i].split('-')[0]}}</p>
                      </p>
                    </div>
                    <div class="col s3">
                      <p>
                        <input type="number" name="{{content.split('/')[i].split('-')[0]}}" id="input1" placeholder="How many are damaged" required />

                      </p>
                    </div>
                    <div class="col s3">
                      <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                </li>

                <li class="collection-item">
                  <div class="row">
                    <div class="col s6">
                      <input type="checkbox" id="vehicle1" name="type" value="return" required><label for="vehicle1" > Are you sure?</label><br>
                       <input style="margin-left:70%" type="submit" value="Submit"/>
                    </div>
                    <div class="col s3">
                      <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                    </div>
                    <div class="col s3">
                      <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                      <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>

                    </div>
                  </div>
                </li>
                </form>
              </ul>
            </div>

          </div>
        </div>
    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
      <ul id="chat-out" class="side-nav rightside-navigation right-aligned ps-container ps-active-y" style="width: 300px; right: -310px; height: 729px;">
        <li class="li-hover">
          <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
          <div id="right-search" class="row">
          </div>
        </li>
        <li class="li-hover">
          <ul class="chat-collapsible" data-collapsible="expandable">
            <li class="active">
              <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
              <div class="collapsible-body recent-activity" style="display: block;">
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">just now</a>
                    <p>Jim Doe Purchased new equipments for zonal office.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">Yesterday</a>
                    <p>Your Next flight for USA will be on 15th August 2015.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">5 Days Ago</a>
                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">Last Week</a>
                    <p>Jessy Jay open a new store at S.G Road.</p>
                  </div>
                </div>
                <div class="recent-activity-list chat-out-list row">
                  <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                  </div>
                  <div class="col s9 recent-activity-list-text">
                    <a href="#">5 Days Ago</a>
                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="active">
              <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
              <div class="collapsible-body sales-repoart" style="display: block;">
                <div class="sales-repoart-list  chat-out-list row">
                  <div class="col s8">Target Salse</div>
                  <div class="col s4"><span id="sales-line-1"><canvas width="33" height="30" style="display: inline-block; width: 33px; height: 30px; vertical-align: top;"></canvas></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Payment Due</div>
                  <div class="col s4"><span id="sales-bar-1"><canvas width="32" height="25" style="display: inline-block; width: 32px; height: 25px; vertical-align: top;"></canvas></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Total Delivery</div>
                  <div class="col s4"><span id="sales-line-2"><canvas width="33" height="30" style="display: inline-block; width: 33px; height: 30px; vertical-align: top;"></canvas></span>
                  </div>
                </div>
                <div class="sales-repoart-list chat-out-list row">
                  <div class="col s8">Total Progress</div>
                  <div class="col s4"><span id="sales-bar-2"><canvas width="32" height="25" style="display: inline-block; width: 32px; height: 25px; vertical-align: top;"></canvas></span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
              <div class="collapsible-body favorite-associates">
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Eileen Sideways</p>
                    <p class="place">Los Angeles, CA</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Zaham Sindil</p>
                    <p class="place">San Francisco, CA</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Renov Leongal</p>
                    <p class="place">Cebu City, Philippines</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Weno Carasbong</p>
                    <p>Tokyo, Japan</p>
                  </div>
                </div>
                <div class="favorite-associate-list chat-out-list row">
                  <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                  </div>
                  <div class="col s8">
                    <p>Nusja Nawancali</p>
                    <p class="place">Bangkok, Thailand</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
          <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 669px; right: 3px;">
          <div class="ps-scrollbar-y" style="top: 0px; height: 613px;"></div>
        </div>
      </ul>
    </aside>
    <!-- LEFT RIGHT SIDEBAR NAV-->

    </div>
    <!-- END WRAPPER -->

    </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js'></script>
<script  src="./../static/account.js"></script>

</body>
</html>
